body,
html {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.reset,
.toDosBtn {
  cursor: pointer;
}

@keyframes fadIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadIn 0.5s linear;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  font-size: 10em;
}

.weather {
  position: absolute;
  top: 25px;
  right: 25px;
}

.location {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
